@media (max-width:900px) {
  #homepage {
    background-position-x: 70vw;
  }
  #homepage .content {
    align-items: center;
    text-align: center;
  } 
  #homepage header a {
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
  } 
  #homepage main {
    align-items: center;
  }
  #page-search-results .cards {
    grid-template-columns: 1fr;
  }
  #page-search-results .cards img {
    height: 250px;
  }

  #page-create-point .field-group {
    flex-direction: column;
  }

  #page-create-point .field-group .field + .field {
    margin-left: 0;
  }
}
  
@media (min-width:1700px) {
  #homepage {
    background-position-x: 40vw;
  }
}
  
@media (max-height:760px) {
  #homepage {
    background-position-y: 200px;
  }
}